*.h5
*.xdmf
*.msh
*.csv
*.pkl
*.pth
*.png

**/lightning_logs/
**/__pycache__/
**/rock_poisson_inverse/
**/column_parabolic_inverse/
**/trainPOD/

# Allow documentation images
!docs/images/*.png
!docs/images/*.jpg
!docs/images/*.jpeg
!docs/images/*.svg